<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" th:href="@{/css/kim_bootstrap.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/add.css}">
	<title>TogethArt</title>
<!--	<script type="text/javascript" th:src="@{/js/subscription/sub.js}"></script>-->
<!--	<script type="text/javascript" th:src="@{/js/subscription/sub2.js}"></script>-->
</head>

<body>
	<!-- 네비 -->
	<div id="nav-wrapper" th:replace="~{/nav :: nav}"></div>
	<!--상단, 배너 영역-->
	<div id="myPageBanner" th:replace="~{/myPageBanner :: myPageBanner}"></div>
	<!--메뉴바-->
	<div id="myPageMenuBar" th:replace="~{/myPageMenuBar :: myPageMenuBar}"></div>

	<!--메뉴바 하단(메인) 영역-->
	<div class="" style="width: 90%; margin-top: 1.8rem; margin-left: auto; margin-right: auto;">

		<!--최근 작품-->
		<div class="">
				<h5><a id="recent-artworks">최근 업로드된 작품</a></h5>
		</div>

		<div id="artworks-container" class="my-page-artworks-container">
			<!-- <a>
						<div class="my-page-artworks-item">
							<img class="my-page-artworks-img" src="/imgs/image3.png">
						</div>
					</a> -->
		</div>

		<!--좋아요 한 게시물-->
		<div class="">
				<h5><a id="liked-artworks">좋아요 한 게시물</a></h5>
		</div>

		<div id="likes-container" class="my-page-artworks-container">
			<!-- like-container items. -->
		</div>

		<!--멤버 정보-->
		<div class="wrap-member-info" style="margin-bottom:2rem;">
			<h5 class="about-member">멤버 정보</h5>
			<div class="member-info">
				<div class="info-div">
					<div class="info-title">
						생일
					</div>
					<!-- 생일 -->
					<div id="member-birth" class="birthday">
					</div>
				</div>
				<div class="info-div">
					<div class="info-title">
						가입일
					</div>
					<!-- 가입일 -->
					<div id="member-regi-date" class="join-since">
					</div>
				</div>
				<div class="info-title">
					소개글
				</div>
				<!-- 인트로 -->
				<div id="member-intro" class="intro">
				</div>
			</div>
		</div>
	</div>
	<script src="/js/nav.js"></script>
	<script src="/js/myPage/myPageHome.js"></script>
</body>

</html>