<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" th:href="@{/css/kim_bootstrap.css}">
  <title>TogethArt | 비밀번호변경 </title>
</head>

<body>

  <div class="input-container">
    <!-- 회원 수정폼 -->
    <form id="form" method="POST">
      <fieldset>
        <legend style="text-align: center;">비밀번호변경</legend>

         <!-- 이메일  -->
         <div class="form-group">
          <label for="email" class="form-label mt-4"></label>
          <input type="hidden" class="form-control" name="memberEmail" id="memberEmail">
        </div>
        <!-- 현재 비밀번호 -->
        <div class="form-group">
          <label for="pwd" class="form-label mt-4">현재 비밀번호</label>
          <input type="password" class="form-control" name="pwd" id="pwd" placeholder="현재 비밀번호를 입력해주세요."
            autocomplete="off">
        </div>
		<!-- 새 비밀번호 -->
        <div class="form-group">
			<label for="newPwd" class="form-label mt-4">새 비밀번호</label>
			<input type="password" class="form-control" name="newPwd" id="newPwd"
			  placeholder="변경하실 비밀번호를 입력 해주세요" autocomplete="off">
		  </div>
      <!--비밀번호 유효성 검사-->
      <div class="success-pwdmessage hide">사용할 수 있는 비밀번호 입니다.</div>
      <div class="strongPassword-message hide">비밀번호 영문자+숫자+특수조합 (8~25자리 입력)</div>
        <!-- 새 비밀번호 확인-->
        <div class="form-group">
          <label for="newPwdCheck" class="form-label mt-4">새 비밀번호 확인</label>
          <input type="password" class="form-control" name="newPwdCheck" id="newPwdCheck"
            placeholder="비밀번호 확인을 위해 재 입력 해주세요." autocomplete="off">
        </div>
        <!-- 비밀번호확인 유효성 검사-->
        <div class="success-pwd2message hide">비밀번호가 일치합니다.</div>
        <div class="mismatch-message hide">비밀번호가 일치하지 않습니다</div>
		  <input type="submit"  class="btn btn-outline-success btn-sm" style="width:100%; margin-top:28px;"  value="변경하기"></button>
      </fieldset>
    </form>
  </div>
  <script th:src="@{/js/member/update.js}">
  </script>
  
</body>
</html>