<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" th:href="@{/css/kim_bootstrap.css}">
  <title>TogethArt | 작품 상세 보기</title>
</head>

<body>

  <div id="nav-wrapper" th:replace="~{nav :: nav}"></div>

  <input type="hidden" id="uploader" th:value="${artwork.memberId}">
  <input type="hidden" id="artworkId" th:value="${artwork.artworkId}">
  <!-- 이미지, 댓글 포함 -->

  <!-- 이미지 -->
  <div class="image-center-super">
    <a class="image-center" th:href="@{${artwork.resourcePathname}}">
      <img id="artwork-image" class="image-height" th:src="@{${artwork.resourcePathname}}" alt="image">
    </a>
  </div>

  <!-- 작품 정보 -->
  <div class="artwork-data-super">
    <div class="artwork-data">

      <!-- 작품 타이틀 -->
      <h2 id="artwork-title" style="margin-top: 1.5rem;" th:text="${artwork.artworkTitle}"></h2>
      <div class="follow-btn" style="text-align: right; float: right;">
        <button id="modify-artwork-button" class="red-btn" style="margin-right: 1rem;">
          <a href="#">작품 수정</a>
        </button>
        <button id="delete-artwork-button" class="red-btn">
          <a href="#">작품 삭제</a>
        </button>
      </div>
      <!-- 멤버 프로필  -->
      <div class="member-profile">
        <!-- 멤버 프로필 이미지 -->

        <div class="member-image-container">
          <a id="member-profile" th:href="@{/member/} + ${artwork.memberId}">
            <img id="member-image" class="member-image" th:src="${artwork.memberImage}" alt="member-profile-image">
          </a>
        </div>
        <!-- 멤버 닉네임 (유저네임) -->
        <div class="member-username">
          <a id="member-profile" th:href="@{/member/} + ${artwork.memberId}">
            <h5 style="margin-bottom: .1rem;" th:text="${artwork.memberUsername}">회원 닉네임 (유저네임)</h5>
          </a>

        </div>
        <!-- 팔로우 버튼 -->
        <div class="follow-btn">
          <button id="follow-button" class="transparent-btn">
            <a href="#">팔로우</a>
          </button>
        </div>
        <div class="follow-btn">
          <button id="subscription-button" class="transparent-btn">
            <a href="#">구독하기</a>
          </button>
          <!-- 전유영 수정 부분 ( 이미 구독 중인 회원입니다 )-->
          <div id="subscription-message" style="display: none;">
            <p>이미 구독 중인 회원입니다</p>
          </div>
        </div>
        <!-- 전유영 수정 -->
        <!-- <div class="follow-btn" style="text-align: right; float: right;">
          <button id="delete-artwork-button" class="red-btn">
            <a href="#">작품 삭제</a>
          </button>
        </div> -->
      </div>

      <!-- 좋아요, 조회수, 업로드 날짜 -->
      <div>
        <!-- 좋아요 -->
        <input id="like-button" type="button"></input>
        <span id="likeCount"></span>
        <!-- 조회수 -->
        <span id="viewCount" style="margin-left:.5rem;" th:text="${artwork.viewCount} + ' 조회'"></span>
        <!-- 업로드 날짜 -->
        <span style="float: right;" th:text="${#dates.format(artwork.aUploadDate, 'yyyy-MM-dd')}"></span>
      </div>

      <!-- 작품이 속한 카테고리 -->
      <!-- <div class="artwork-category-container">
        <span>카테고리 : -->
          <!-- 버튼 클릭 시 해당 카테고리 갤러리로 이동 -->
          <!-- <input type="button" class="btn btn-success" value="categoryName"></input>
        </span>
      </div> -->

      <!-- 작품 설명 -->
      <div class="artwork-description" th:text="${artwork.artworkDescription}"></div>
    </div>
  </div>

  <!-- 댓글 -->
  <div class="comment-container">
    <!-- 댓글 작성란 -->
    <form id="comment-form" class="comment-form">
      <div class="form-group comment-textarea">
        <label for="commentContent" class="form-label">댓글</label>
        <textarea class="form-control" id="comment-content" name="commentContent" rows="3"></textarea>
      </div>
      <button id="submit-button" class="btn btn-success" type="submit" style="height: 3rem; margin-top: auto; margin-left: 1.5rem">댓글
        작성</button>
    </form>

    <!-- 댓글 불러오기 -->
    <!-- 댓글 리스트 컨테이너 -->
    <div id="comment-list-container" class="comment-list-container"></div>
  </div>
  <script type="text/javascript" th:src="@{/js/like/like.js}"></script>
  <script type="text/javascript" th:src="@{/js/artworkView.js}"></script>
  <script type="text/javascript" th:src="@{/js/nav.js}"></script>
  <script type="text/javascript" th:src="@{/js/follow/follow1.js}"></script>
  <script type="text/javascript" th:src="@{/js/subscription/sub.js}"></script>
  <script type="text/javascript" th:src="@{/js/comment/comment.js}"></script>
  <script type="text/javascript" th:src="@{/js/artworkDelete.js}"></script>
  <script type="text/javascript" src="/js/artworkModify.js"></script>

</body>

</html>