<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/kim_bootstrap.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/add.css}">
  
  <title>결제 완료</title>
  
  <script type="text/javascript" th:src="@{/js/payment/paysuccess.js}"></script>
</head>
<body>
  
  <div id="popup">
    <h3>결제가 완료됐습니다</h3>
    
    <button id="confirmButton">확인</button>
  </div>
  
  
</body>
</html>
